.brwpmarketo-columns {
    display:flex;
    align-items: flex-start;
}

.brwpmarketo-columns .brwpmarketo-aside {
    flex-basis: 280px;
    width:280px;
}

.brwpmarketo-columns .brwpmarketo-aside,
.brwpmarketo-columns .brwpmarketo-content {
    background: #fff;
    border: 1px solid #e2e4e7;
}

.brwpmarketo-columns .brwpmarketo-content {
    margin-left:20px;
    padding:20px;
}

.brwpmarketo-columns .brwpmarketo-aside .brwpmarketo-aside-field {
    padding:15px;
}

.brwpmarketo-columns .brwpmarketo-aside .brwpmarketo-aside-field .brwpmarketo-aside-field__label {
    display: block;
    margin-bottom: 4px;
}

.brwpmarketo-columns .brwpmarketo-aside .brwpmarketo-aside-field .brwpmarketo-aside-field-text__input,
.brwpmarketo-columns .brwpmarketo-aside .brwpmarketo-aside-field .brwpmarketo-aside-field-select__input {
    display:block;
    width:100%;
    font-size: 13px;
    padding:6px 8px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .1s linear;
    border-radius: 4px;
    border: 1px solid #8d96a0;
}

.brwpmarketo-columns .brwpmarketo-content {
    flex-grow:1;
    padding-left:20px;
}

input.error, textarea.error, select.error {
    border:1px solid red;
    box-shadow:0 0 3px rgba(255,0,0,.5);
}

table.max-height {
    max-height:400px;
    overflow-y: auto;
}